body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.button {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  border-width: 0;
}

.page-header,
.main-container,
.page-footer {
  width: 1440px;
  margin: 0 auto;
}

.page-title {
  height: 163px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-top: 59px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: center;

  background-color: #eeeeee;
}

.main-navigation {
  padding: 0 140px;
  padding-top: 49px;
  padding-bottom: 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  line-height: 30px;
  color: #000000;
  
  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.site-navigation {
  width: 560px;

  display: flex;
}

.shoping-navigation {
  width: 160px;
}

.site-navigation,
.shoping-navigation {
  margin-left: 140px;

  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
}

.site-navigation a,
.shoping-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.shoping-navigation a:hover,
.shoping-navigation a:focus {
  color: #fb565a;
}

.site-navigation-current a {
  border-bottom: 2px solid #fb565a;
}

.features {
  height: 413px;
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.features .box-slides {
  list-style: none;
}

.features .tagline {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.features .button {
  color: #ffffff;

  background-color: #fb565a;
}

.features .button:hover,
.features .button:focus {
  background-color: #e74246;
}

.features .button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color:  #d7373b;
}


.services {
  margin-bottom: 40px;
  padding-bottom: 63px;
  border-bottom: 2px solid #eeeeee;
}

.services .services-list {
  width: 1100px;
  min-height: 347px;
  margin-left: 140px;
  padding-left: 0;

  display: flex;
  justify-content: space-between;

  list-style: none;
}

.services .service-item {
  width: 300px;
}

.services h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.services .service-button-web {
  color: #ffffff;

  background-color: #fb565a;
}

.services .service-button-web:hover
.services .service-button-web:focus{
  background-color: #e74246;
}

.services .service-button-web:active {
  color: rgba(255, 255, 255, 0.3);

  background-color:  #d7373b;
}

.services .service-button-application {
  color: #ffffff;

  background-color: #00ca74;
}

.services .service-button-application:hover,
.services .service-button-application:focus {
  background-color: #00bc6c;
}

.services .service-button-application:active {
  color: rgba(255, 255, 255, 0.3);

  background-color:  #00aa62;
}

.services .service-button-presentation {
  color: #ffffff;

  background-color: #efc84a;
}

.services .service-button-presentation:hover,
.services .service-button-presentation:focus {
  background-color: #eab534;
}

.services .service-button-presentation:active {
  color: rgba(255, 255, 255, 0.3);

  background-color:  #e5a722;
}

.about {
  min-height: 485px;
  margin-left: 120px;
  margin-bottom: 46px;
  border-bottom: 2px solid #eeeeee;

  display: flex;
}

.about-left {
  width: 700px;
  padding-left: 20px; 
}

.about-right {
  width: 360px;
  margin-left: 80px;
  padding-left: 20px;
  padding-left: 20px;
}

.about .tagline {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about .about-title {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about th {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about td {
  line-height: 18px;
}

.partners {
  width: 1200px;
  min-height: 120px;
  margin-left: 120px;
}

.partners .partners-list {
  margin-bottom: 80px;
  padding-left: 0;
  padding-bottom: 38px;
  border-bottom: 2px solid #eeeeee;

  display: flex;
  justify-content: space-around;
  align-items: center;


  list-style: none;
}

.partner-item {
  width: 280px;
  padding-left: 20px;

  text-align: center;
}

.partners a {
  opacity: 0.2;
}

.partners img {
  text-align: center;
}

.partners a:hover,
.partners a:focus {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}


.contacts .tagline {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.contacts p {
  line-height: 18px;
  color: #666666;
}

.contacts-button {
  color: #ffffff;

  background-color: #fb565a;
}

.contacts-button:hover,
.contacts-button:focus {
  background-color: #e74246;
}

.contacts-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color:  #d7373b;
}

.wrapper-catalog {
  min-width: 1200px;
  margin-left: 100px;
  margin-bottom: 60px;

  display: flex;
}

.filters {
  width: 260px;
  padding-left: 20px;
  padding-right: 20px;
}

.filters fieldset {
  border: none;
}

.filter legend,
.sorting p>b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.filter .title-price {
  letter-spacing: 1px;
}

.filter ul,
.sorting ul {
  list-style: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #283136;

  opacity: 0.3;
}

.filter .slider-range {
  background-color: #eeeeee;
}

.filter p>label {
  line-height: 22px;
  text-transform: uppercase;
} 

.filter-option label {
  line-height: 20px;
  font-weight: 400;
}

.filter input[type="text"] {
  border: 0;

  line-height: 22px;
  text-align: center;

  background-color: #eeeeee;
}

.filter-button {
  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  opacity: 0.3;
}

.wrapper-right {
  width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 100px;
}

.wrapper-right p {
  margin: 0;
}

.sorting {
  display: flex;
}

.sorting-list {
  display: flex;
}

.sorting-order-list {
  display: flex;
}

.sorting-button {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  opacity: 0.3;
}

.sorting-button:hover,
.sorting-button:focus {
  opacity: 0.6;
}

.sorting-button:active,
.sorting-button-active {
  opacity: 1;
}

.catalog {
  width: 800px;
  
  display: flex;
  flex-direction: column;
}

.catalog ul {
  list-style: none;
}

.catalog-list {
  margin: 0;
  padding: 0;
  margin-bottom: 61px;

  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  width: 360px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 33px;
}

.catalog-item-hover {
  display: none;
}

.catalog-item-hover h3{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.catalog-item-hover p {
  text-align: center;
}

.catalog-item-hover p>b {
  line-height: 18px;
  color: #666666;
}

.catalog-item-hover .catalog-button {
  color: #ffffff;

  background-color: #fb565a;
}

.catalog-item-hover .catalog-button:hover,
.catalog-item-hover .catalog-button:focus {
  background-color: #e74246;
}

.catalog-item-hover .catalog-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color:  #d7373b;
}


.catalog-item:hover .catalog-item-hover {
  display: block;
}

.catalog-item img:first-of-type {
    opacity: 0.12;
}

.catalog-item:hover img:first-of-type {
  opacity: 1;
}

.pagination-list {
  width: 760px;
  height: 50px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  
  display: flex;
  list-style: none;
}

.pagination-item{
  min-width: 50px;
  margin-right: 11px;
}

.pagination-list a {
  line-height: 18px;
  color: #000000;

  background-color: #eeeeee;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf;
}

.pagination-list a:active {
  opacity: 0.3;

  background-color: #d5d5d5;
}

.pagination-item-current {
  line-height: 18px;
  color: #000000;
  
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

.page-footer .top-footer {
  min-height: 416px;
  margin-bottom: 62px;
}

.page-footer .bottom-footer {
  min-height: 78px;
  margin-left: 120px;
  padding-left: 20px;

  display: flex;
}

.page-footer .social-button-list {
  width: 260px;
  height: 78px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  
  list-style: none;
}

.page-footer .social-button {
  width: 78px;
 }

 .page-footer .tagline {
  margin-left: 120px;
  padding-left: 20px;
 }

 .page-footer .tagline>p>b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;

  color: #000000;
}

.page-footer .tagline>p {
  line-height: 22px;
  columns: #444444;
}

.modal-write-us h2{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500px;
  color: #000000;
}

.modal-clouse{
  border-width: 0;

  background-color: #ffffff;
  opacity: 0.3;
}

.modal-clouse:hover{
  opacity: 1;
}

.modal-clouse:active{
  opacity: 0.1;
}

.box-data .modal-write-us-item {
  display: inline-block;
}

.modal-write-us form p{
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.modal-write-us .button{
  color: #ffffff;

  background-color: #e74246;
}

.modal-write-us .button:hover{
  background-color: #fb565a;
}

.modal-write-us .button:active{
  color: rgba(255, 255, 255, 0.3);

  background-color:  #d7373b;
}
