body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

/* img {
  width: 100%;
  height: auto;
} */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  border-width: 0;
}

.page-header {
  margin: 0 auto;
  padding: 49px 140px 0;
  width: 1160px;

  background-color: #eeeeee
}

.page-title {
  height: 163px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-top: 59px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  
  background-color: #eeeeee;
}

.main-navigation {
  width: 1160px;
  height: 65px;
  /* margin: 46px 140px 0; */
  /* padding: 0 140px 0 140px; */
  /* padding-top: 46px; */
  /* padding-bottom: 8px; */
  padding-bottom: 18px;
  
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  
  line-height: 30px;
  color: #000000;
    
  outline: #00aa62;
  background-color: rgba(0, 0, 255, 0.3);
}

.main-header-logo {
  width: 160px;
  height: 65px;
  /* padding-right: 20px; */
  margin-right: 40px;
  /* padding-bottom: 18px; */
  background-color: rgba(0, 255, 255, 0.3);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 38px;
  width: 600px;
  /* height: 65px; */
  background-color: rgba(255, 0, 255, 0.3);
}

.shoping-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0;
  /* height: 65px; */
  /* padding-right: 0; */
  
  text-align: right;
  background-color: rgba(255, 255, 0, 0.3);
}

.main-container,
.page-footer {
  width: 1440px;
  margin: 0 auto;
}

.shoping-navigation .shopping-cart {
  position: relative;
  padding-left: 50px;
}

.shoping-navigation .shopping-cart::before {
  content: "";

  position: absolute;
  width: 15px;
  height: 15px;
  top: 20px;
  left: 11px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.shoping-navigation .shopping-cart:hover::before,
.shoping-navigation .shopping-cart:focus::before,
.shoping-navigation .shopping-cart:active::before {
  opacity: 0.3;
}


.site-navigation,
.shoping-navigation {
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
}

.site-navigation a {
  display: block;
  margin-top: 12px;
  padding: 13px 24px 13px 23px;

  color: #000000;
}

.shoping-navigation a {
  display: block;
  margin-top: 12px;
  padding: 13px 0 13px 23px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.shoping-navigation a:hover,
.shoping-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.shoping-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation-current a {
  border-bottom: 2px solid #fb565a;
}

.features {
  height: 413px;
  margin-bottom: 226px;

  background-color: #eeeeee;
}

.features .slider-inner {
  overflow: hidden;
}

.features .box-slides {
  position: relative;
  margin: 0;
  padding: 0;
  width: 300%;
  
  list-style: none;
}

.features .slides {
  float: left;
  width: 1320px;
  margin-left: 120px;
  padding-left: 20px;
}

.features .slide1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 571px;
  display: block;

  width: 698px;
  height: 413px;
  background-image: url("../img/slide1.png");
}

.features .tagline {
  margin-top: 59px;
  margin-bottom: 26px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.features .tagline + p {
  margin: 0;
  margin-bottom: 40px;
}

.features .button {
  display: block;
  width: 240px;
  height: 50px;

  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  color: #ffffff;

  background-color: #fb565a;
}

.features .button:hover,
.features .button:focus {
  background-color: #e74246;
}

.features .button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color:  #d7373b;
}


.services {
  margin-bottom: 40px;
  padding-bottom: 63px;
  border-bottom: 2px solid #eeeeee;
}

.services .services-list {
  width: 1100px;
  min-height: 201px;
  margin-left: 140px;
  padding-left: 0;

  display: flex;
  justify-content: space-between;

  list-style: none;
}

.services .service-item {
  width: 300px;
}

.services h3 {
  position: relative;
  margin: 0;
  margin-top: 24px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.services h3 + p {
  margin-top: 17px;
  margin-bottom: 31px;
}

.service-item:nth-child(1) h3::before {
  content: "";
  
  position: absolute;
  top: -170px;
  left: 0px;
  display: block;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-1.png");
}

.service-item:nth-child(2) h3::before {
  content: "";
  
  position: absolute;
  top: -170px;
  left: 0px;
  display: block;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-2.png");
}

.service-item:nth-child(3) h3::before {
  content: "";
  
  position: absolute;
  top: -170px;
  left: 0px;
  display: block;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-3.png");
}

.services .service-button {
  display: block;
  width: 160px;
  height: 50px;

  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.services .service-button-web {
  color: #ffffff;

  background-color: #fb565a;
}

.services .service-button-web:hover
.services .service-button-web:focus{
  background-color: #e74246;
}

.services .service-button-web:active {
  color: rgba(255, 255, 255, 0.3);

  background-color:  #d7373b;
}

.services .service-button-application {
  color: #ffffff;

  background-color: #00ca74;
}

.services .service-button-application:hover,
.services .service-button-application:focus {
  background-color: #00bc6c;
}

.services .service-button-application:active {
  color: rgba(255, 255, 255, 0.3);

  background-color:  #00aa62;
}

.services .service-button-presentation {
  color: #ffffff;

  background-color: #efc84a;
}

.services .service-button-presentation:hover,
.services .service-button-presentation:focus {
  background-color: #eab534;
}

.services .service-button-presentation:active {
  color: rgba(255, 255, 255, 0.3);

  background-color:  #e5a722;
}

.about {
  min-height: 485px;
  margin-left: 120px;
  margin-bottom: 46px;
  border-bottom: 2px solid #eeeeee;

  display: flex;
}

.about-left {
  width: 700px;
  padding-left: 20px; 
}

.about-right {
  width: 360px;
  margin-left: 80px;
  padding-left: 20px;
  padding-left: 20px;
}

.about .tagline {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about .about-title {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about th {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about td {
  line-height: 18px;
}

.partners {
  width: 1200px;
  min-height: 120px;
  margin-left: 120px;
}

.partners .partners-list {
  margin-bottom: 80px;
  padding-left: 0;
  padding-bottom: 38px;
  border-bottom: 2px solid #eeeeee;

  display: flex;
  justify-content: space-around;
  align-items: center;


  list-style: none;
}

.partner-item {
  width: 280px;
  padding-left: 20px;

  text-align: center;
}

.partners a {
  opacity: 0.2;
}

.partners img {
  text-align: center;
}

.partners a:hover,
.partners a:focus {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

.top-footer {
  position: relative;

}

.contacts {
  position: absolute;
  top: 54px;
  left: 140px;
  width: 319px;
  height: 308px;

  background-color: #ffffff;
}

.contacts .tagline {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.contacts p {
  line-height: 18px;
  color: #666666;
}

.contacts-button {
  color: #ffffff;

  background-color: #fb565a;
}

.contacts-button:hover,
.contacts-button:focus {
  background-color: #e74246;
}

.contacts-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color:  #d7373b;
}

.wrapper-catalog {
  min-width: 1200px;
  margin-left: 100px;
  margin-bottom: 60px;

  display: flex;
}

.filters {
  width: 260px;
  padding-left: 20px;
  padding-right: 20px;
}

.filters fieldset {
  border: none;
}

.filter legend,
.sorting p>b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.filter .title-price {
  letter-spacing: 1px;
}

.filter ul,
.sorting ul {
  list-style: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #283136;

  opacity: 0.3;
}

.filter .slider-range {
  background-color: #eeeeee;
}

.filter p>label {
  line-height: 22px;
  text-transform: uppercase;
} 

.filter-option label {
  line-height: 20px;
  font-weight: 400;
}

.filter input[type="text"] {
  border: 0;

  line-height: 22px;
  text-align: center;

  background-color: #eeeeee;
}

.filter-button {
  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  opacity: 0.3;
}

.wrapper-right {
  width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 100px;
}

.wrapper-right p {
  margin: 0;
}

.sorting {
  display: flex;
}

.sorting-list {
  display: flex;
}

.sorting-order-list {
  display: flex;
}

.sorting-button {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  opacity: 0.3;
}

.sorting-button:hover,
.sorting-button:focus {
  opacity: 0.6;
}

.sorting-button:active,
.sorting-button-active {
  opacity: 1;
}

.catalog {
  width: 800px;
  
  display: flex;
  flex-direction: column;
}

.catalog ul {
  list-style: none;
}

.catalog-list {
  margin: 0;
  padding: 0;
  margin-bottom: 61px;

  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  width: 360px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 33px;
}

.catalog-item-hover {
  display: none;
}

.catalog-item-hover h3{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.catalog-item-hover p {
  text-align: center;
}

.catalog-item-hover p>b {
  line-height: 18px;
  color: #666666;
}

.catalog-item-hover .catalog-button {
  color: #ffffff;

  background-color: #fb565a;
}

.catalog-item-hover .catalog-button:hover,
.catalog-item-hover .catalog-button:focus {
  background-color: #e74246;
}

.catalog-item-hover .catalog-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color:  #d7373b;
}


.catalog-item:hover .catalog-item-hover {
  display: block;
}

.catalog-item img:first-of-type {
    opacity: 0.12;
}

.catalog-item:hover img:first-of-type {
  opacity: 1;
}

.pagination-list {
  width: 760px;
  height: 50px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  
  display: flex;
  list-style: none;
}

.pagination-item{
  min-width: 50px;
  margin-right: 11px;
}

.pagination-list a {
  line-height: 18px;
  color: #000000;

  background-color: #eeeeee;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf;
}

.pagination-list a:active {
  opacity: 0.3;

  background-color: #d5d5d5;
}

.pagination-item-current {
  line-height: 18px;
  color: #000000;
  
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

.page-footer .top-footer {
  min-height: 416px;
  margin-bottom: 62px;
}

.page-footer .bottom-footer {
  min-height: 78px;
  margin-left: 120px;
  padding-left: 20px;

  display: flex;
}

.page-footer .social-button-list {
  width: 260px;
  height: 78px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  
  list-style: none;
}

.page-footer .social-button {
  width: 78px;
 }

 .page-footer .tagline {
  margin-left: 120px;
  padding-left: 20px;
 }

 .page-footer .tagline>p>b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;

  color: #000000;
}

.page-footer .tagline>p {
  line-height: 22px;
  columns: #444444;
}

.modal-write-us h2{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500px;
  color: #000000;
}

.modal-clouse{
  border-width: 0;

  background-color: #ffffff;
  opacity: 0.3;
}

.modal-clouse:hover{
  opacity: 1;
}

.modal-clouse:active{
  opacity: 0.1;
}

.box-data .modal-write-us-item {
  display: inline-block;
}

.modal-write-us form p{
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.modal-write-us .button{
  color: #ffffff;

  background-color: #e74246;
}

.modal-write-us .button:hover{
  background-color: #fb565a;
}

.modal-write-us .button:active{
  color: rgba(255, 255, 255, 0.3);

  background-color:  #d7373b;
}
